.p-news__article--number {
  display: flex;
  align-items: center;
}

.p-news__article--number::after {
  border-top: 1px solid;
  content: "";
  width: 3em;
  margin: 0 0.5em 0 0.5em;
}

.p-news__title {
  text-align: center;
  position: relative;
  font-size: 27px;
}

.p-news__log__item__circle {
  font-weight: lighter;
}

.fade-in-news-active {
  animation-name: fadeInNews;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInNews {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@media screen and (min-width: 1126px) {
  /* pc用スタイル */

  .p-news__article {
    color: #00CC33;
    display: flex;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p-news__title {
    text-align: center;
    position: relative;
    font-size: 27px;
  }

  .p-news__background {
    position: absolute;
    display: block;
    white-space: nowrap;
    font-size: 130px;
    font-weight: bold;
    color: #EEEEEE;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.7;
  }

  .pーnews__log {
    margin-top: 80px;
    font-size: 14px;
    font-weight: bold;
  }

  .p-news__log__item {
    padding: 30px 0px;
    border-bottom: 2px solid #333333;
  }

  .p-news__log__item__space {
    margin-right: 60px;
  }
}

@media screen and (min-width: 796px) and (max-width: 1125px) {
  /* pc用スタイル */

  .p-news__article {
    color: #00CC33;
    display: flex;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p-news__title {
    text-align: center;
    position: relative;
    font-size: 27px;
  }

  .p-news__background {
    position: absolute;
    display: block;
    white-space: nowrap;
    font-size: 130px;
    font-weight: bold;
    color: #EEEEEE;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.7;
  }

  .pーnews__log {
    margin-top: 80px;
    font-size: 14px;
    font-weight: bold;
  }

  .p-news__log__item {
    padding: 30px 0px;
    border-bottom: 2px solid #333333;
  }

  .p-news__log__item__space {
    margin-right: 60px;
  }
}

@media screen and (max-width: 795px) {
  /* sp用スタイル */

  .p-news__article {
    color: #00CC33;
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
  }

  .p-news__title {
    text-align: center;
    position: relative;
    font-size: 1.2rem;
  }

  .p-news__background {
    position: absolute;
    display: block;
    white-space: nowrap;
    font-size: 18vw;
    font-weight: bold;
    color: #EEEEEE;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.7;
  }

  .pーnews__log {
    margin-top: 80px;
    font-size: 10px;
    font-weight: bold;
  }

  .p-news__log__item {
    padding: 10px 0px;
    border-bottom: 1px solid #333333;
    font-weight: bolder;
  }

  .p-news__log__item__space {
    margin-right: 20px;
  }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
  /* sp用スタイル */

  .p-news__article {
    color: #00CC33;
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
  }

  .p-news__title {
    text-align: center;
    position: relative;
    font-size: 1.2rem;
  }

  .p-news__background {
    position: absolute;
    display: block;
    white-space: nowrap;
    font-size: 18vw;
    font-weight: bold;
    color: #EEEEEE;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.7;
  }

  .pーnews__log {
    margin-top: 80px;
    font-size: 10px;
    font-weight: bold;
  }

  .p-news__log__item {
    padding: 10px 0px;
    border-bottom: 1px solid #333333;
    font-weight: bolder;
  }

  .p-news__log__item__space {
    margin-right: 20px;
  }
}