.fade-in-active {
  opacity: 0;
  transform: translateX(0px);
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.p-our_message__article--box--heading {
  display: flex;
  color: #00CC33;
}

.p-our_message__article--box--heading--number {
  display: flex;
  align-items: center;
}

.p-our_message__article--box--heading--number::after {
  border-top: 1px solid;
  content: "";
  width: 3em;
  margin: 0 0.5em 0 0.5em;

}

@media screen and (min-width: 1126px) {
  /* pc用スタイル */

  .p-our_message__article {
    display: flex;
  }

  .p-our_message__article--box {
    margin-right: 50px;
  }

  .p-our_message__article--title {
    font-size: 100px;
    width: 300vw;
    padding: 60px 0px 0px 110px;
    font-weight: 900;
    transform: scale(1.1, 1);
  }

  .p-our_message__article--box--title {
    margin: 10px 0 15px 0;
    font-size: 27px;
  }

  .p-our_message__article--box--design_text {
    font-family: "Great+Vibes", cursive;
    color: #FF99CC;
    transform: rotate(-15deg);
    font-size: 45px;
    padding: 60px 0 0 150px;
    opacity: 0;
  }

  .fade-in-design-active {
    opacity: 0;
    transform: rotate(-15deg);
    animation-name: fadeInDesign;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInDesign {
    0% {
      opacity: 0;
      transform: rotate(-15deg);
    }

    100% {
      opacity: 1;
      transform: rotate(-15deg);
    }
  }
}

@media screen and (min-width: 796px) and (max-width: 1125px) {
  /* pc用スタイル */

  .p-our_message__article {
    padding: 0px 40px;
  }

  .p-our_message__article--box {
    position: relative;
  }

  .p-our_message__article--box--title {
    margin-top: 10px;
  }

  .p-our_message__article--box--text {
    margin-top: 20px;
  }

  .p-our_message__article--box--design_text {
    font-family: "Great+Vibes", cursive;
    color: #FF99CC;
    font-size: 45px;
    padding: 60px 0 0 150px;
    position: absolute;
    right: 40px;
    opacity: 0;
  }

  .fade-in-design-active {
    opacity: 0;
    transform: rotate(0deg);
    animation-name: fadeInDesign;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInDesign {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 795px) {
  /* sp用スタイル */

  .p-our_message__article--box {
    font-size: 16px;
  }

  .p-our_message__article--box--heading {
    font-size: 0.8rem;
  }

  .p-our_message__article--box--title {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .p-our_message__article--box--text {
    font-size: 0.9rem;
    margin-top: 20px;
  }

  .p-our_message__article--box--design_text {
    font-family: "Great+Vibes", cursive;
    color: #FF99CC;
    transform: rotate(-15deg);
    font-size: 6vw;
    padding: 60px 0 0 150px;
    position: absolute;
    right: 14%;
    opacity: 0;
  }

  .fade-in-design-active {
    opacity: 0;
    transform: rotate(0deg);
    animation-name: fadeInDesign;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInDesign {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
  /* sp用スタイル */

  .p-our_message__article--box {
    font-size: 16px;
  }

  .p-our_message__article--box--heading {
    font-size: 0.8rem;
  }

  .p-our_message__article--box--title {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .p-our_message__article--box--text {
    font-size: 0.9rem;
    margin-top: 20px;
  }

  .p-our_message__article--box--design_text {
    font-family: "Great+Vibes", cursive;
    color: #FF99CC;
    transform: rotate(-15deg);
    font-size: 6vw;
    padding: 60px 0 0 150px;
    position: absolute;
    right: 14%;
    opacity: 0;
  }

  .fade-in-design-active {
    opacity: 0;
    transform: rotate(0deg);
    animation-name: fadeInDesign;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInDesign {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}