@media screen and (min-width: 1126px) {
  /* pc用スタイル */
  .l-members {
    margin-top: 900px;
    padding-top: 60px;
    position: relative;
    z-index: 20;
    width: 100%;
  }
}

@media screen and (min-width: 796px) and (max-width: 1125px) {
  /* pc用スタイル */
  .l-members {
    margin-top: 900px;
    padding-top: 60px;
    position: relative;
    z-index: 20;
    width: 100%;
  }
}

@media screen and (max-width: 795px) {
  /* sp用スタイル */
  .l-members {
    padding-top: 40px;
    width: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
  /* sp用スタイル */
  .l-members {
    margin-top: 230%;
  }
}