@media screen and (min-width: 1126px) {

  /* pc用スタイル */
  .l-news {
    padding: 180px 160px 0px 160px;
    position: relative;
    z-index: 20;
  }
}

@media screen and (min-width: 796px) and (max-width: 1125px) {
  /* pc用スタイル */
  .l-news {
    padding: 180px 160px 0px 160px;
    position: relative;
    z-index: 20;
  }
}

@media screen and (max-width: 795px) {
  /* sp用スタイル */
  .l-news {
    padding: 180px 10% 0px 10%;
    position: relative;
  }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
  /* sp用スタイル */
  .l-news {
    padding: 180px 10% 0px 10%;
    position: relative;
  }
}